@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-principal: Poppins;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
    text-decoration: none;
    color: white;
}

body{
    background-color: #0A043C;
}

/* INICIO ESTILO CABEÇALHO */

header{
    border-bottom: 1px solid white;
}

h1{
    cursor: default;
    animation: transicaoLeftToRight 0.5s ease-in-out;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    animation: fadeIn 1s ease-in-out;
}

nav{
    display: flex;
    gap: 32px;
}

.opcao-nav{
    font-size: 25px;
    font-weight: 700;
    animation: transicaoRightToLeft 0.5s ease-in-out;
}

.opcao-nav:hover{
    transform: translate(-2px, -1px);
    transition: 0.2s;
    text-shadow: 3px 2px 13px rgba(255, 255, 255, 0.4)
}

/* FIM ESTILO CABEÇALHO */

/* INICIO SEÇÃO CONTEUDO */

.apresentacao{
    margin: 100px 50px;
}

.apresentacao-conteudo{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.apresentacao-conteudo h2{
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(83, 223, 251), rgb(12, 163, 193), rgb(255,255,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 90s linear infinite;
}

.apresentacao-conteudo p{
    text-align: justify;
    letter-spacing: 3px;
    font-size: 20px;
    width: 50%;
}



/* FIM SEÇÃO CONTEUDO */

/* ANIMAÇÕES */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes transicaoRightToLeft{
    0%{
        transform: translate(20px);
    }

}

@keyframes transicaoLeftToRight{
    0%{
        transform: translate(-20px);
    }    
}

@keyframes move{
    to{
        background-position: 4500vh;
    }
}