/* INICIO ESTILO CABEÇALHO */

header{
    border-bottom: 1px solid white;
}

h1, h2{
    cursor: default;
    animation: transicaoLeftToRight 0.5s ease-in-out;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    animation: fadeIn 1s ease-in-out;
}

nav{
    display: flex;
    gap: 32px;
}

.opcao-nav{
    font-size: 25px;
    font-weight: 700;
    animation: transicaoRightToLeft 0.5s ease-in-out;
}

.opcao-nav:hover{
    transform: translate(-2px, -1px);
    transition: 0.2s;
    text-shadow: 3px 2px 13px rgba(255, 255, 255, 0.4)
}

/* FIM ESTILO CABEÇALHO */