/* INICIO ESTILO CABEÇALHO */

header{
    border-bottom: 1px solid white;
}

h1, h2{
    cursor: default;
    animation: transicaoLeftToRight 0.5s ease-in-out;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    animation: fadeIn 1s ease-in-out;
}

nav{
    display: flex;
    gap: 32px;
}

.opcao-nav{
    font-size: 25px;
    font-weight: 700;
    animation: transicaoRightToLeft 0.5s ease-in-out;
    position: relative;
}

.opcao-nav::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.opcao-nav:hover::after{
    width: 100%;
}

.opcao-nav:hover{
    transition: 0.5s;
    text-shadow: 3px 2px 13px rgba(255, 255, 255, 0.4)
}

/* FIM ESTILO CABEÇALHO */