/* VERSÃO PARA TABLET */
@media (max-width: 1024px){
    /* seção 1 */
    .apresentacao{
        flex-direction: column;
        height: 70vh;
        gap: 40px;
    }

    .apresentacao-conteudo{
        align-items: center;
    }

    .apresentacao-conteudo h2{
        font-size: 40px;
        margin-top: 40px;
    }
    
    .apresentacao-conteudo p{
        font-size: 20px;
        width: 90%;
    }

    .imagem-perfil{
        animation: transicaoLeftToRight 0.5s ease-in-out, fadeIn 1s ease-in-out;
        width: 60%;
    }

    /* seção 2 */
    .campo-sobre-habilidades{
        margin-top: 130px;
        text-align: center;
    }

    .icones-tecnologias{
        width: 70%;
    }

    .modal-body{
        width: 60%;
    }
}
/* VERSÕES MENORES DE TABLET */
@media (max-width: 850px){
    .cabecalho{
        justify-content: center;
    }
    .cabecalho h1{
        display: none;
    }
    /* Seção 1 */
    .apresentacao{
        height: 80vh;
    }
    .apresentacao-conteudo h2{
        font-size: 25px;
    }
    .apresentacao-conteudo p{
        font-size: 16px;
    }
    .imagem-perfil{
        width: 60%;
    }
    /* Seção 2 */
    .subtitulo{
        font-size: 25px;
        text-align: center;
        margin-top: 80px;
    }

    .campo-sobre-habilidades p{
        margin: 0 20px;
        text-align: center;
    }
}
/* VERSÃO DE CELULAR */
@media (max-width: 450px){
    .cabecalho a{
        font-size: 15px;
    }
    /* Seção 1 */
    .apresentacao{
        margin: 0px 0px;
        height: 90vh;
    }

    .apresentacao-conteudo h2{
        text-align: center;
    }

    .apresentacao-conteudo p{
        font-size: 14px;
        width: 95%;
        letter-spacing: 1px;
    }

    .imagem-perfil{
        width: 80%;
    }
    /* Seção 2*/
    .campo-sobre-habilidades{
        margin-top: 1rem;
    }

    .campo-tecnologias{
        gap: 0;
    }

    .icones-tecnologias{
        padding: 20px 5px;
    }

    .modal-body{
        width: 90%;
    }
}
/* VERSÕES MENORES DE CELULAR */
@media (max-width: 400px){
}

/* VERSÕES DE 375PX */
@media (max-width: 380px){
    /* Seção 1 */
    .apresentacao{
        height: 100vh;
    }

    .campo-sobre-habilidades{
        margin-top: 0rem;
    }
}

@media (max-width: 350px){
    /* Seção 1 */
    .apresentacao{
        height: 80vh;
    }
}

@media (max-height: 600px){
    .campo-sobre-habilidades{
        margin-top: 530px;
    }
}

@media (max-height: 450px){
    .campo-sobre-habilidades{
        margin-top: 700px;
    }
}